VITE_KEYCLOAK_URL=keycloak_url
VITE_KEYCLOAK_REALM=keycloak_realm
VITE_KEYCLOAK_CLIENT_ID=keycloak_client
VITE_BACKEND_URL=http://localhost:8001            
VITE_API_KEY=emc-api-key
VITE_EDC_HOSTNAME=app_hostname
VITE_SDE_URL=sde_app_url
VITE_PORTAL_URL=portal_url
