VITE_KEYCLOAK_URL=https://centralidp.arena2036-x.de/auth/
VITE_KEYCLOAK_REALM=CX-Central
VITE_KEYCLOAK_CLIENT_ID=CX-EDC
VITE_BACKEND_URL=https://emc-backend-1.txcd.arena2036.app
VITE_API_KEY=emc-api-key
VITE_DISABLE_AUTH=false
VITE_EDC_HOSTNAME=txcd.arena2036.app
VITE_SDE_URL=https://sde-1-txcd.arena2036-x.de
VITE_PORTAL_URL=https://portal.arena2036-x.de
