VITE_KEYCLOAK_URL=your-keycloak-url
VITE_KEYCLOAK_REALM=your-keycloak-realm
VITE_KEYCLOAK_CLIENT_ID=you
VITE_BACKEND_URL=you
VITE_API_KEY=your-api-key
EDC_HOSTNAME=ypur-edc-hostname
VITE_SDE_URL=yoursde-app-url