DATABASE_URL=sqlite:///./edc_manager.db
API_KEY=emc-api-key

APP_CLIENT_ID=CX-EDC
DATASPACE_NAME=ARENA2036-X
DATASPACE_AUTHORITY_ID=BPNL00000003CRHK

CENTRALIDP_URL=https://centralidp.arena2036-x.de/auth/
CENTRALIDP_REALM=CX-Central
CENTRALIDP_CLIENT_ID=__CENTRALIDP_CLIENT_ID__
CENTRALIDP_CLIENT_SECRET=__CENTRALIDP_CLIENT_SECRET__

SSI_WALLET_URL=https://ssi-dim-wallet-stub.arena2036-x.de
SSI_WALLET_CLIENT_ID=__SSI_WALLET_CLIENT_ID__
SSI_WALLET_CLIENT_SECRET=__SSI_WALLET_CLIENT_SECRET__

PORTAL_URL=https://portal.arena2036-x.de
PORTAL_CLIENT_ID=__PORTAL_CLIENT_ID__
PORTAL_CLIENT_SECRET=__PORTAL_CLIENT_SECRET__

SEMANTICS_URL=https://semantics.arena2036-x.de
DISCOVERY_FINDER_CLIENT_ID=__DISCOVERY_FINDER_CLIENT_ID__
DISCOVERY_FINDER_CLIENT_SECRET=__DISCOVERY_FINDER_CLIENT_SECRET__
BPN_DISCOVERY_CLIENT_ID=__BPN_DISCOVERY_CLIENT_ID__
BPN_DISCOVERY_CLIENT_SECRET=__BPN_DISCOVERY_CLIENT_SECRET__

CLUSTER_CONTEXT=k8s-ap6-01
K8S_NAMESPACE=edc-management-console

SDE_URL=https://sde-1-txcd.arena2036-x.de
SDE_CLIENT_ID=SDE-1
MANUFACTURER_ID=BPNLA360COMPANY1
SDE_PROVIDER_EDC_URL=https://emc-edc-1-controlplane-txcd.arena2036-x.de
SDE_CONSUMER_EDC_URL=https://emc-edc-2-controlplane-txcd.arena2036-x.de
SDE_REGISTRY_URL=https://emc-edc-dtr-1-txcd.arena2036-x.de/semantics/registry

DEFAULT_EDC_URL=https://dataconsumer-controlplane.arena2036-x.de
EDC_DID_METHOD=did:web
EDC_CONTROLPLANE_HOST_SUFFIX=controlplane.txcd.arena2036-x.de
EDC_DATAPLANE_HOST_SUFFIX=dataplane.txcd.arena2036-x.de
INGRESS_CLASS_NAME=nginx
INGRESS_TLS_CLUSTER_ISSUER=__INGRESS_TLS_CLUSTER_ISSUER__
IMAGE_PULL_SECRET_NAME=registry-creds

KEYCLOAK_URL=https://centralidp.arena2036-x.de/auth/
KEYCLOAK_REALM=CX-Central
KEYCLOAK_CLIENT_ID=CX-EDC
