fastapi==0.115.7
uvicorn==0.30.3

SQLAlchemy==2.0.49
sqlmodel==0.0.38

Jinja2==3.1.6
MarkupSafe==3.0.3
PyYAML==6.0.1
Pygments==2.20.0

annotated-types==0.7.0
async-property==0.2.2
cached-property==1.5.2

cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
deprecation==2.1.0
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
exceptiongroup==1.3.1

fastapi-keycloak-middleware==1.1.0

h11==0.16.0
httpcore==1.0.9
httpx==0.26.0

jsonschema==4.26.0
jsonschema-specifications==2025.9.1

jwcrypto==1.5.7
keycloak==3.1.5
python-keycloak==4.7.3

mdurl==0.1.2
packaging==26.2

psycopg2-binary==2.9.12

pyasn1==0.6.3
pycparser==3.0

python-multipart==0.0.28
python-jose==3.3.0

referencing==0.37.0
requests==2.32.3
requests-toolbelt==1.0.0

rich==15.0.0
rsa==4.9.1

shellingham==1.5.4
six==1.17.0
sniffio==1.3.1

starlette==0.45.3
tomli==2.4.1

tractusx-sdk==0.5.0

typer==0.15.4
typing-inspection==0.4.2
typing_extensions==4.15.0

urllib3==2.1.0
uvloop==0.21.0