{{- if .Values.backend.enabled }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: emc-backend-config
data:
  logging.yml: |-
    version: 1
    disable_existing_loggers: False

    formatters:
      default:
        format: '%(asctime)s [%(levelname)-8s] [%(name)-15s] %(message)s'
        datefmt: '%Y-%m-%d %H:%M:%S'

    handlers:
      console:
        class : logging.StreamHandler
        formatter: default
        level   : DEBUG
        stream  : ext://sys.stdout
      file:
        class : logging.handlers.RotatingFileHandler
        formatter: default
        mode: a

    loggers:
        development:
            level: DEBUG
            handlers: [console, file]
            propagate: no

        staging:
            level: INFO
            handlers: [console, file]
            propagate: no

        production:
            level: WARNING
            handlers: [file]
            propagate: no

    root:
        level: INFO
        handlers: [console, file]

  configuration.yml: |-
    appConfig:
      name: "ARENA2036 EDC Management Console"
      client_id: "CX-EDC"
      version: "1.0.0"
      port: 5000
      host: "0.0.0.0"

    authorization:
      enabled: true
      apiKey:
        key: "X-Api-Key"
        value: "emc-api-key"

    startup:
      checks: true
      refresh_interval: 10

    dataspaceConfig:
      name: "ARENA2036-X"
      authority_id: "BPNL00000003CRHK"
      centralidp:
        url: "https://centralidp.arena2036-x.de/auth/"
        realm: "CX-Central"
        client_id: "${CENTRALIDP_CLIENT_ID}"
        client_secret: "${CENTRALIDP_CLIENT_SECRET}"
      ssi_wallet:
        url: "https://ssi-dim-wallet-stub.arena2036-x.de"
        client_id: "${SSI_WALLET_CLIENT_ID}"
        client_secret: "${SSI_WALLET_CLIENT_SECRET}"
      portal:
        url: "https://portal.arena2036-x.de"
        client_id: "${PORTAL_CLIENT_ID}"
        client_secret: "${PORTAL_CLIENT_SECRET}"
      discovery:
        semantics:
          url: "https://semantics.arena2036-x.de"
        discoveryFinder:
          endpoint: "/discoveryfinder/api/v1.0/administration/connectors/discovery/search"
          keys:
            edc_discovery: "bpn"
          client_id: "${DISCOVERY_FINDER_CLIENT_ID}"
          client_secret: "${DISCOVERY_FINDER_CLIENT_SECRET}"
        bpnDiscovery:
          endpoint: "/bpndiscovery/api/v1.0/administration/connectors/bpnDiscovery/search"
          client_id: "${BPN_DISCOVERY_CLIENT_ID}"
          client_secret: "${BPN_DISCOVERY_CLIENT_SECRET}"


    clusterConfig:
      context: "arena2036-x-fed-services"
      namespace: "edc-test"

    edc:
      default_url: "https://dataconsumer-controlplane.arena2036-x.de"
      helm_chart_directory: "../tractusx-connector"
      endpoints:
        assets: "/v3/assets"
        policies: "/v3/policydefinitions"
        contracts: "/v3/contractdefinitions"
        readiness: "/api/check/readiness"
        liveness: "/api/check/liveness"
        catalog: "/management/v3/catalog/request"
        edr_prefix: "/management/v3/edrs"
        view_edr: "/request"
        transfer_edr: "/dataaddress?auto_refresh=true"
        dsp: "/api/v1/dsp"
      hostname:
        cp: controlplane.arena2036-x.de
        dp: dataplane.arena2036-x.de

    database:
      url: "${DATABASE_URL}"
      echo: false
    files:
      charts:
        v9: /Chart_v9.yaml
        v10: /Chart_v10.yaml
        v11: /Chart_v11.yaml
      values:
        v9: /values_v9.yaml
        v10: /values_v10.yaml
        v11: /values_v11.yaml
{{- end }}